---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import CardIndex from '../components/CardIndex.astro';
import Social from '../components/Social.astro';
import SkillCategory from '../components/SkillCategory.astro';

import { socials, cards, skills } from '../content/data/db'

---

<Layout
	tittle="Gerardo Rodriguez - Developer full stack & Data analist"
	description = "Conoce a Gerardo Rodriguez, entusiasta en desarrollo full stack y analista de datos"
>

	<div>
		<div>
			<Image
				src="/images/foto.jpg"
				alt="Gerardo Rodriguez"
				width={200}
				height={200}
			/>
			<h1> Gerardo Rodriguez</h1>
			<p> Entusiasta en desarrollo full stack y analista de datos</p>
		</div>

		<div>
			{
				cards.map((card, index) => (
					<CardIndex 
						title={card.title}
						title_en={card.title_en}
						description={card.description}
						description_en={card.description_en}
					/>
				))
			}

			<SkillCategory 
				name='Habilidades'
				name_en='Skills'
				skills={skills}
			/>
		</div>
		
		<div>
			{
				socials.map((social, index) => {
					<Social 
						name={social.name}
						url={social.url}
						icon={social.icon}
					/>
				})
			}
		</div>
	</div>
	
</Layout>
